#ignore the build directory
build/*

#but keep the directory itself
!build/.gitkeep

#ignore documentation for now
doxygen/

#ignore junk files
*~
#*#
\.#
*.bak

#ignore ggtags junk
GPATH
GRTAGS
GTAGS